
@media screen and (max-width: 959px) {


    .title-mob
    {
        padding-bottom:50px;
        text-align: center;
        display: block;
    }
    .title-desktop
    {
        display: none;
    }

    :root {
        --text-logo: 28px;
        --text-email: 19px;
        --text-banner: 30px;
        --gap-1: 30px;
        --gap-2: 100px; 
    }
    
    body{
        grid-template-columns: var(--gap-0)  1fr  var(--gap-1);
        padding: 0px;
        overflow-y: scroll;
    }
    
    .header {
        grid-column: 1/4;
        flex-direction: column;
        /*align-items: flex-start;*/
        justify-content: center;
        text-align: center;
    }
    .banner {
       grid-column: 2/3;
       grid-row: ;
       letter-spacing: 1px;
       text-align: center;
        line-height: 40px;
        width: 190px;
        height: 30vh;
        white-space: pre-wrap;
        margin-left: 0;
    }
    .background {
        grid-column: 2/3;
        grid-row: 2/5;
        height:auto;
        width: 100%;
        transform: scale(0.7);
     }
  
    .left-aside{
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 100px;
    }
    .right-aside {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .footer {
        grid-column: 1/4;
        grid-row: 5/6;
        justify-self: center;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: #666;
    }
    .footer > nav {
        width: calc(100vw - 16px);
        height: 40px;
        display: flex;
        justify-content: space-around;
        font-weight: normal;
    }

    aside
    {
        font-size: 9px !important;
    }

    .header-right-align
	{
	   margin: 10px;
	}

	.talk-button
	{
		margin:10px;
	}

}
    



@media screen and (max-width: 768px) {

.grid-container {
  display: grid;
  position: absolute;
  margin-top: 20%;
  grid-template-columns: 100%;
  grid-gap: 0px;
}


}