// Font import
@font-face {
  font-family: "Oswald-regular";
  src: url("./../fonts/Oswald/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Opensans-regular";
  src: url("./../fonts/Open_Sans/OpenSans-Regular.ttf");
}

body {
  margin: 0;
  user-select: none;
}

.font-mr{
 margin-right: 4px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 999;
  .navbar-left {
    padding-left: 24px;
    font-family: "Oswald-regular";
    font-size: 18pt;
  }
}

.navbar-border {
  -webkit-box-shadow: inset 0px -1px 0px #f3f3f4;
  box-shadow: inset 0px -1px 0px #f3f3f4;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  top: 60px;
  .header-section {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    gap: 24px;
    .profile-image > img {
      border-radius: 50%;
      height: 160px;
    }
    .profile-description {
      .discription-title {
        font-family: "Oswald-regular";
        font-size: 38pt;
        line-height: 1.23;
        padding: 14px 8px;
        opacity: 0.95;
      }
      .discription-content {
        display: flex;
        flex-wrap: wrap;
        a {
          margin: 14px 8px;
          font-family: "Opensans-regular";
          font-size: 16px;
          text-decoration: underline;
          margin-right: 18px;
          color: #212121;
          opacity: 0.95;
        }
      }
    }
  }
  .project-section {
    padding: 40px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      padding: 14px 0px;
      .card-img {
        height: 260px;
        width: 260px;
      }
      .card-footer {
        height: 28px;
        padding: 14px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Opensans-regular";
        font-size: 16px;
        color: #212121;
        line-height: 1.5;
        a {    
          color: #212121;                 
          text-decoration: underline;
        }
      }
    }
  }
  .footer-section {
    padding: 40px 60px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .header-section {
      text-align: center;
      padding: 60px 20px;
      flex-direction: column;
      gap: 24px;
      .profile-description {
        .discription-content {
          justify-content: center;
        }
      }
    }
    .project-section {
      padding: 0px 20px;
      justify-content: center;
      gap: 24px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .project-section {
    justify-content: center !important;
    gap: 24px !important;
  }
}
