


/**************** work page *******************/

.arrow
{
border: none;
background-color: transparent; 
}

.carousel-cell {
opacity: 0.4; 

}

.carousel-cell img
{
height: 60vh;
width: auto;
}

.carousel-cell.is-selected {
  opacity: 1;
 height: 60vh;


}
.carousal-left 
{
margin-left: 1.5rem;
}

.c-bottom-heading
{
left: 15%;
font-family: fut;
color: #212020;
}
.c-bottom-center-heading
{
/*font-weight: lighter;opacity: 0.6;*/
color: #666666;
font-family: seui;
}
.c-page-no
{
padding-top: 5px;font-family: fut
}

.headers ul {
   margin-right: 10sss0px;
}

.flickity-prev-next-button
{
display: none;
}

.bottom-footer
{
position: relative;bottom:0;height:150px;
}

.arrow:hover
{
cursor: pointer;
}

.main-container
{
position: relative;margin-top: 3vh;
}



  @media screen and (max-width: 767px)
{

.pc-content
{
display: none; 
}
.mob-content
{
display: block; 
}
.carousel-cell img
{
height: 45vh !important;
width: auto;
}

.carousel-cell.is-selected {
 height: 45vh !important;
 width: auto;
}

.carousel-cell {
display: flex;
align-items: center;
justify-content: center;
height: 45vh !important;
width: auto;

}

.carousel.is-fullscreen .carousel-cell {
height: 100% !important;
}



.carousel.is-fullscreen .carousel-cell-image {
  max-width: 100% !important;
}



.carousal-left 
{
  
margin-left: 0rem !important;
}

.c-bottom-center-heading
{
font-size: 0.8rem;
}

.main-container
{
position: relative;margin-top: 0vh !important;
}



}



/************** Responsive ****************/

  @media screen and (max-width: 471px)
{

    .carousel-cell img
  {
    height: 30vh !important;
    width: 100vw;
  }

  .carousel-cell.is-selected {
     height: 30vh !important;
     width: 100vw;
  }

  .carousel-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh !important;
  width: 100vw;
}


}

@media screen and (max-width: 280px)
{
  html
  {
    font-size: 0.7rem;
  }
  .width-container
  {
    width: auto;
  }
}

@media screen and (min-width: 768px)
{
  .pc-content
  {
    display: block; 
  }
  .mob-content
  {
    display: none; 
  }

  .width-container
  {
    width: 100%;
  }
}


@media screen and (min-width: 471px)
{
     .width-container
  {
    width: 100%;
  }
}


/*****************************************************/



/*************client page ****************************/


.container-main
  {
    z-index: -1;
    margin-top: 8vw;
    font-family: fut;
  }

  .img-top
  {
    margin-top: 100px;
  }

  @media screen and (max-width: 768px)
  {
      .container-main
      {
        z-index: -1;
        margin-top: 5vw;
        font-family: fut;
      }
      .pad-img
      {
        padding: 5%;
      }
      .img-top
      {
         margin-top: 50px;
      }
  }  



 /*****************************************************/


