

body,html
{
	height: 100%;
	overflow-x: hidden;
}

.bg-img
{
    background-image: url("../images/img_parallax1.jpg");
    height: 100%;
    position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}


.head-contents
{
	position: relative;	
	top: 60vh;
}

.title-head-contents
{
	color: white; 
	font-weight: bold;
	text-shadow: 1px 0px 4px #000000;
}

.align-contents
{
	align-self: center;
	text-align: center;
	align-items: center;
}

.align-self
{
	align-self: center;
}

.products-title
{
	font-size: 62pt;
	color: #ddd;
	font-weight: bold;
}

.wrapper-50
{
	margin-top:50px; 
}

.about-bg
{
	background-color: #ddd;
}

.about-container
{
		width: 50%;
}
.about-title
{
	font-size: 62pt;
	color: #ffff;
	font-weight: bold;
}

.Register-bg
{
	background-color: #343a40;
}
.register-border
{
	padding: 2%;
	border:dotted 2px yellow;
	color: yellow;
}














/*******Circle content ***********/

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
  padding: 5%;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #ddd;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

/*****************************/



/***** Responsive mode *****/


@media screen and (max-width: 768px) 
{

	.head-contents
	{
	  	position: absolute;	
	  	top: 35vh;
	}

	.circle__content 
	{
    	font-size: 8pt;
  	}

  	.circle 
  	{
  		margin: 1em 0;
  		padding: 0%;
	}

}

@media (min-width: 768px) {
  .circle__content {
    font-size: 1em;
  }
}




